

 <div class="row">
 		<div class="col-md-12">
				 <form #formFolioADN="ngForm"   id="form-egresoADN">
				 		<h3> <strong>Validación de Folio Central y Empleado</strong> </h3>
				           <div class="row">	
					               
				                       <div class="col-lg-4 col-md-4">
							                      <label> No. de Empleado	</label>
							                      <label>								                       
								                       
							                      </label>
							                      <input type="text" #FolioEmpleado="ngModel" maxlength = "8"  name="FolioEmpleado" [(ngModel)]="datosEgreso.empleado"  class="form-control" id="emp"   pattern="[0-9]+" onKeyUp="if(this.value>999999999){this.value='999999999';}else if(this.value<0){this.value='0';}" (keypress)="myMethod2($event)" [disabled]="ocultarHuellas"  />
					                   </div>
					                   <div class="col-lg-4 col-md-4">
							                      <label> Folio de Referencia	</label>
							                      <label>								                       
								                        
							                      </label>
							                      <input type="text" #FolioReferencia="ngModel" name="FolioReferencia" [(ngModel)]="datosEgreso.referencia" maxlength="9" class="form-control"  pattern="[0-9]+" (keypress)="myMethod2($event)"  [disabled]="ocultarHuellas" />


					                   </div>
						               <div class="col-lg-2 col-md-2" id="ocultarHuella">
						               		<label style="color: white;">Núm de Empleado	</label>
						               		 <button class="btn btn-success"  type="submit" (click)="openDialog()" [disabled]="!validarComponentes(formFolioADN.form.valid)">
						               		 		<strong><i ></i> Validar folio central</strong>
						               		 </button>						                     				                      
						                      
						               </div>    
						    </div>     	
				 </form>				               

        </div>

 </div>