<div class="col-lg-10 col-lg-offset-1">
	<div class="jumbotron">
		<!--<h2>{{titulo}}</h2>
		<p>Gestiona tus productos con la aplicación web SPA creada con Angular desde cero</p>
		<p>
			<a [routerLink]="['/productos']" class="btn btn-lg btn-primary">Ver productos</a>
			<a [routerLink]="['/crear-producto']"  class="btn btn-lg btn-success">Añadir productos</a>
		</p> -->

		<div style="width: 100%;">
			    <!--  <img  src="../assets/images/gastos.png" alt="Random first slide" style="width: 100%;">  Desarrollo-->
			    <img  src="assets/images/gastos.png" alt="Random first slide" style="width: 100%;"> <!-- Produccion -->
			    <div class="carousel-caption" style="padding-bottom:80px;">
			      <h3><strong>Gasto</strong></h3>
			      <p>Un gasto es una partida que disminuye el beneficio de la empresa o, en su defecto, aumenta la deuda o pérdida. El gasto siempre implicará el desembolso de una cantidad de dinero, ya sea en efectivo o por otro medio de pago, y llevará asociada una contraprestación.</p>
			    </div>
  		</div>

		<!--<carousel>Cargando...</carousel>  -->



	</div>

		


</div>